*{
  background:lightblue;
}

h1 {
	color: green;
	font-family: bell mt;
}
a[href*='menu']{
  color:gray;
  margin: 0 25px;
}
a[href*='#']{
  color:green;
}
.subtitle{
 text-align: right;
 width: 30%;
 margin: 0 500px;
 color:  grey;
}
#lcontent{
 text-align: left;
 width: 90%;
 margin: auto;
}

#rcontent{
 text-align: left;
 width: 90%;
 margin: auto;
}
#footer{
 text-align: center;
 width: 30%;
 margin: auto;
 color:  grey;
}

h2.new{
	font-family: algerian;
}
h2.news{
	font-family: arial;
	color: yellowgreen;
}
.text{
	font-family: arial;
	color: gray;
	font-size: 12px;
}